@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: #d10901;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
}
@layer base {
  h2, h3, h4 {
    font-family: var(--font-syne);
  }

  .font-serif {
    font-family: var(--font-merriweather);
  }
}